<!-- views/signup.ejs -->

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	

	<!-- LOGIN FORM -->
	<form class="form-horizontal" ng-submit="signup()">
		<div class="form-group">
			<label class="col-sm-3 control-label">Company Name</label>
			<div class="col-sm-9">
				<input data-ng-model="user.companyName" type="text" class="form-control" name="companyName">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">First Name</label>
			<div class="col-sm-9">
				<input data-ng-model="user.firstName" type="text" class="form-control" name="firstName">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Last Name</label>
			<div class="col-sm-9">
				<input data-ng-model="user.lastName" type="text" class="form-control" name="lastName">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input data-ng-model="user.email" type="email" class="form-control" name="email">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Password</label>
			<div class="col-sm-9">
				<input data-ng-model="user.password" type="text" class="form-control" name="password">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Street Address</label>
			<div class="col-sm-9">
				<input data-ng-model="user.streetAddress" type="text" class="form-control" name="streetAddress">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Phone Extension</label>
			<div class="col-sm-9">
				<input data-ng-model="user.phoneExtension" type="text" class="form-control" name="phoneExtension">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Work Phone</label>
			<div class="col-sm-9">
				<input data-ng-model="user.workPhone" type="text" class="form-control" name="workPhone">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Mobile Phone</label>
			<div class="col-sm-9">
				<input data-ng-model="user.mobilePhone" type="text" class="form-control" name="mobilePhone">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button type="submit" class="btn btn-warning btn-lg">Signup</button>
			</div>
		</div>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
