<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>





	<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>